@import "custom";
@import "variables";
$body-color: #ee3430;
$body-bg: #ced4da;
body {
  //contact page
  background-color: $p5;
  .modal-header {
    border-bottom: 2px solid $p2 !important;
  }
  .modal-footer {
    border-top: 1px solid $p2;
  }
  .modal-content {
    border: 1px solid;
    button {
      border: 2px solid transparent;
      border-radius: 5px;
    }
    h5 {
      font-size: 2rem;
    }
    label {
      padding: 0;
    }
    input {
      border: 1px solid;
      padding: 0;
      height: 28px;
    }
    textarea {
      border: 1px solid;
    }
  }
  .contact-container {
    @include make-row();
    width: 85%;
    margin: auto;
    .modal {
      @include make-col(8);
      display: unset;
      position: relative;
    }
  }
  .contact-info {
    @include make-col(4);
    hr {
      border: 0.5px dotted;
    }
  }
  //our lawyers
  .our {
    .modal {
      display: unset;
      position: relative;
    }
  }
}
@include media-breakpoint-down(md) {
  body {
    .contact-container {
      width: 100%;
      .contact-info {
        @include make-col(12);
		margin: auto;
		h2{
			text-align: center;
		}
      }
      .modal {
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
